.topnav {
    overflow: hidden;
    background-color: #003399;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 17px;
}

#brand {
    width: 115px;
    height: 70px;
    overflow: hidden;
    margin-top: -8px;
}